<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gw_member">
	<select id="loginList" resultType="com.hanbit.vo.VO_employees" parameterType="Map">
		select * from gw_member where id = #{id} and pwd = #{pwd}
	</select>
	<!-- Support -->
	<!-- 임직원정보 리스트 -->
	<select id="employee_list" resultType="com.hanbit.vo.VO_employees">
		select * from gw_member order by id
	</select>
	<!-- employees search -->
	<select id="employee_search" parameterType="Map" resultType="com.hanbit.vo.VO_employees">
		select * from gw_member where ${type}=#{content} order by id
	</select>
	
	<select id="getEmailList" resultType="com.hanbit.vo.VO_email" parameterType="String">
		select * from gw_email where email_addr = #{email_addr} order by regdate desc
	</select>
	<insert id="writeEmail" parameterType="com.hanbit.vo.VO_email">
		insert into gw_email values(gw_email_seq.nextval, #{email_addr}, #{receiver}, #{subject}, #{content}, RAWTOHEX(#{email_file}), sysdate, #{real_file})
	</insert>
	<select id="getEmailOneList" parameterType="String" resultType="com.hanbit.vo.VO_email">
		select * from gw_email where idx = #{idx}
	</select>
	
	<select id="getp_list" resultType="com.hanbit.vo.VO_board">
		select * from gw_board 
	
	</select>
	
		<!--download public list insert-->
		
	<insert id="p_insert" parameterType="com.hanbit.vo.VO_board">
		insert into gw_board values(gw_board_seq.nextval,'공용문서함',#{name},#{subject},#{content},#{board_file},sysdate,'0')
	</insert>

	<!-- schedule list -->
	<select id="schedule" parameterType="String" resultType="com.hanbit.vo.VO_schedule">
		select * from gw_schedule where id=#{id} order by start_date
	</select>

</mapper>
