<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gw_member">
	<select id="loginList" resultType="com.hanbit.vo.VO_employees" parameterType="Map">
		select * from gw_member where id = #{id} and pwd = #{pwd}
	</select>
	<!-- Support -->
	<!-- 임직원정보 리스트 -->
	<select id="employee_list" resultType="com.hanbit.vo.VO_employees">
		select * from gw_member order by id
	</select>
	<!-- employees search -->
	<select id="employee_search" parameterType="Map" resultType="com.hanbit.vo.VO_employees">
		select * from gw_member where ${type}=#{content} order by id
	</select>
	
	<select id="getEmailList" resultType="com.hanbit.vo.VO_email" parameterType="String">
		select * from gw_email where email_addr = #{email_addr} order by regdate desc
	</select>
	<insert id="writeEmail" parameterType="com.hanbit.vo.VO_email">
		insert into gw_email values(gw_email_seq.nextval, #{email_addr}, #{receiver}, #{subject}, #{content}, RAWTOHEX(#{email_file}), sysdate, #{real_file})
	</insert>

	<!-- board -->
	<select id="totalCount" parameterType="String" resultType="int">
		select count(*) from gw_board where board_type=#{board_type}
	</select>
	
	<select id="boardList" parameterType="Map" resultType="com.hanbit.vo.VO_board">
		<!-- select * from gw_board where board_type = #{board_type} -->
		select * from ( 
            select rownum r_num, a.* from (
            	select * from gw_board where board_type = #{board_type} order by b_idx
            	) a 
              ) where r_num between #{begin} and #{end}
	</select>
	<insert id="boardInsert" parameterType="com.hanbit.vo.VO_board">
		insert into gw_board values(gw_board_seq.nextval, #{board_type},#{name},#{subject},#{content},#{board_file},sysdate,'0')
	</insert>
	<select id="boardOneList" parameterType="String" resultType="com.hanbit.vo.VO_board">
		select * from gw_board where b_idx = #{b_idx}
	</select>
	<delete id="boardDel" parameterType="String">
		delete from gw_board where b_idx = #{b_idx}
	</delete>
	<update id="boardUp" parameterType="com.hanbit.vo.VO_board" >
		update gw_board set subject=#{subject}, content=#{content}, board_file=#{board_file} where b_idx = #{b_idx}
	</update>
	
	
	<select id="getEmailOneList" parameterType="String" resultType="com.hanbit.vo.VO_email">
		select * from gw_email where idx = #{idx}
	</select>
	
	<select id="getp_list" resultType="com.hanbit.vo.VO_board">
		select * from gw_board 
	
	</select>
	
		<!--download public list insert-->
		
	<insert id="p_insert" parameterType="com.hanbit.vo.VO_board">
		insert into gw_board values(gw_board_seq.nextval,'공용문서함',#{name},#{subject},#{content},#{board_file},sysdate,'0')
	</insert>

	<!-- schedule list -->
	<select id="schedule" parameterType="String" resultType="com.hanbit.vo.VO_schedule">
		select * from gw_schedule where id=#{id} order by start_date
	</select>
	<!-- vacation list -->
	<select id="vacation" resultType="com.hanbit.vo.VO_schedule">
		select * from
			(select gw_schedule.*, gw_member.name from gw_schedule, gw_member where gw_schedule.id=gw_member.id)
		where type='휴가'
	</select>
	<!-- bt list -->
	<select id="bt" resultType="com.hanbit.vo.VO_schedule">
		select * from
			(select gw_schedule.*, gw_member.name from gw_schedule, gw_member where gw_schedule.id=gw_member.id)
		where type='출장'
	</select>
	<!-- schedule show -->
	<select id="schedule_show" parameterType="String" resultType="com.hanbit.vo.VO_schedule">
		select * from gw_schedule where idx=#{idx}
	</select>
	<!-- schedule update -->
	<update id="schedule_update" parameterType="com.hanbit.vo.VO_schedule">
		update gw_schedule set type=#{type}, subject=#{subject}, content=#{content}, start_date=#{start_date}, end_date=#{end_date} where idx=#{idx}	
	</update>
	<!-- schedule insert -->
	<insert id="schedule_insert" parameterType="com.hanbit.vo.VO_schedule">
		insert into gw_schedule values(schedule_seq.nextval,#{type},#{id},#{subject},#{content},#{start_date},#{end_date});
	</insert>

	<select id="p_onelist" resultType="com.hanbit.vo.VO_board" parameterType="String">
		select * from gw_board  where b_idx = #{b_idx}
	</select>
	
	<update id="p_hit">
	update gw_board set hit = #{hit} where b_idx = #{b_idx} 
	</update>
	
	<!-- emp_show -->
	<select id="emp_show" parameterType="String" resultType="com.hanbit.vo.VO_employees">
		select * from gw_member where id=#{id}
	</select>
	<select id="em_one" resultType="com.hanbit.vo.VO_employees" parameterType="String">
		select * from gw_member where id = #{id} 
	</select>
</mapper>
